body{
    margin: 0;
}

.img-form {
    margin: 0 auto;
    margin-top: 25%;
}

.img-form {
    text-align: center;
}

@media only screen and (min-width: 1000px){
    .img-form{
        display: flex;
        flex-direction: row;
        margin: 15% auto;
        margin-bottom: 1rem;
        width: 80%;
        align-items: center;
        justify-content: space-evenly;
    }

    .img-form img {
        width: 35%;
    }

    .img-form form {
        width: 45%;
    }
}

@media only screen and (min-width: 1600px){
    .img-form {
        width: 50%;
        margin-top: 10%;
    }

    form h3 {
        font-size: 2rem;
    }
}
