.footer {
    background-color: #2c1169;
    margin: 0;
    width: 100%;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: #ebebeb;
    font-size: 1rem;
    bottom: 0;
}

@media only screen and (min-width: 1024px){
    .footer {
        position: fixed;
    }
}
